<app-search [activeList]="true"></app-search>
<mat-card class="editor-container">
    <h1>{{isEdit? 'Edit Post' : 'New post'}}</h1>
    <div class='editor-sub-container'>
        <div class="upload-container">
            <form [formGroup]="form_file">
                <div *ngIf="!url_public" class="loading-container">
                    <img class="upload" src="./assets/images/upload.svg" alt="upload">
                    <span *ngIf="loading" class="percentage"> {{percentage}}%</span>
                    <mat-progress-bar mode="determinate" [value]="percentage" max="100" *ngIf="loading">
                    </mat-progress-bar>
                </div>
                <img *ngIf="url_public" class="upload-image" [src]="url_public" alt="">
                <div class="file-container">
                    <input type="file" formControlName="newFile" (change)="changeFile($event)">
                </div>
            </form>
        </div>

        <form class="post-form" [formGroup]="newPost" (submit)="createPost()">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Buenos Aires" formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>

                <textarea matInput
                    placeholder="Almeria is a Spanish city and municipality, capital of the province of the same name, in the autonomous community of Andalusia."
                    formControlName="content"></textarea>
            </mat-form-field>
            <div #map class="map"></div>
            <button mat-raised-button color="primary" type="submit">{{isEdit? 'Update' : 'Create'}}</button>
        </form>
    </div>
</mat-card>