@import "../../../variables.scss";
.actions {
    position: absolute;
    right: 10px;
    opacity: 0.6;
    cursor: pointer;
    mat-icon{
        margin-left: 5px;
    }
}
.post-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    width: calc(100% - 20px);
    .post-info-minature {
        display: flex;
    }
    .post-info-complete {
        display: flex;
        margin: 20px 0;
    }
    .img-minature {
        width: 220px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .img-complete {
        width: 440px;
        border-radius: 5px;
        margin-right: 10px;
    }
    .title {
        color: $principal;
    }
    .content {
        opacity: 0.8;
        font-size: 16px;
    }
}

.pointer {
    cursor: pointer;
}

.map{
    width: 100%;
    height: 400px;
}