<mat-card class="post-container" [ngClass]="{'pointer': !complete}">
    <div [ngClass]="{'post-info-minature':!complete,'post-info-complete':complete }" [routerLink]="['/post', post?.id]">
        <img *ngIf="!complete" class="img-minature" [src]="post?.image_url" alt="City">
        <div>
            <h1 class="title">{{post?.title}}</h1>
            <h2 class="content">{{post?.content}}</h2>
            <img *ngIf="complete" class="img-complete" [src]="post?.image_url" alt="">
            <img *ngIf="complete" class="img-complete" [src]="post?.image_url" alt="">
        </div>
    </div>
</mat-card>