/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    min-height: 100%;
    background-color: #ebedef;
    font-family: 'Roboto', sans-serif;    
}

